@using Microsoft.AspNet.Identity;
@using PagedList.Mvc;
@model PagedList.IPagedList<BlogMe.Models.Blog>
@{
    ViewBag.Title = "Blogs";
}

@if (@User.Identity.IsAuthenticated)
{
    <br />
    @Html.ActionLink("New Blog", "Edit", "", new { @class = "btn btn-primary" })
}


<h2>Blogs</h2>
<div>


</div>
<ul class="list-group">


    @for (int i = 0; i < Model.Count(); i++)
    {
        <li class="list-group-item">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Blog Title</th>
                        <th>Date Created</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>
                        <td>@Model[i].Title</td>
                        <td>@Model[i].CreatedOn</td>
                        <td>@Model[i].BlogOwnerId</td>
                    </tr>
                </tbody>
            </table>
        </li>
    }
</ul>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
