@using Microsoft.AspNet.Identity;
@using PagedList.Mvc;
@model BlogMe.ViewModels.ShowAllBlogsViewModel
@{
    ViewBag.Title = "Blogs";
}

@if (@User.Identity.IsAuthenticated)
{
    <br />
    @Html.ActionLink("New Blog", "Edit", new { id = 0 }, new { @class = "btn btn-primary" })
    @Html.ActionLink("View My Blogs", "ViewOwnBlogs", null, new { @class = "btn btn-primary" })
}


<h2>Blogs</h2>
<div>


</div>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Blog Title</th>
            <th scope="col">Date Created</th>
            <th scope="col">Author</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.BlogList.Count(); i++)
        {
            List<BlogMe.Models.ApplicationUser> user = Model.Users.Where(o => o.Id == Model.BlogList[i].BlogOwnerId).ToList();

            <tr onclick="location.href = '@Url.Action("Read", "Blog", new { id=Model.BlogList[i].Id })'">
                <td class="col-md-4">@Model.BlogList[i].Title</td>
                <td class="col-md-4">@Model.BlogList[i].CreatedOn</td>
                <td class="col-md-4">@user[0].UserName</td>
                @if (Model.ViewOrEdit == "Edit")
                {
                    <td class="col-md-4">@Html.ActionLink("Edit", "Edit", new { Model.BlogList[i].Id }, new { @class = "btn primary-btn" })</td>
                }
            </tr>

        }
    </tbody>
</table>


<br />
Page @(Model.BlogList.PageCount < Model.BlogList.PageNumber ? 0 : Model.BlogList.PageNumber) of @Model.BlogList.PageCount

@Html.PagedListPager(Model.BlogList, page => Url.Action(Model.ViewOrEdit == "View" ? "Index" : "ViewOwnBlogs", new { page }))
