@using BlogMe.Models;
@model BlogMe.ViewModels.ReadWithCommentsViewModel

@{
    ViewBag.Title = "ReadBlog";
}
@using (Html.BeginForm("Comment", "Blog"))
{
    @Html.HiddenFor(m => m.Blog.Id)
    <h2>@Html.DisplayTextFor(m => Html.Encode(m.Blog.Title))</h2>
    <p>@Html.DisplayFor(m => Html.Encode(m.Blog.BlogText))</p>
    <hr />

    <button type="submit" class="btn btn-primary">Leave Comment</button>
    <div style="margin:5px;">
        <!--<textarea rows="10" style="margin-left:0; width:60%; max-width:80%; max-height:100vh;"></textarea>-->
        @Html.TextAreaFor(m => m.Comment.CommentText)
    </div>
        @Html.HiddenFor(m => m.Comment.Username)
}

<h3>Comments</h3>
@if (Model.Blog.Comments != null)
{
    <ul class="list-group">
        @foreach (Comment comment in Model.Blog.Comments)
        {
            <li class="list-group-item comment">
                <div class="comment-info">
                    <span>@Html.Encode(comment.Username)</span>
                    <span class="comment-time">@comment.TimeCommented</span>
                </div>
                <p class="comment-text">@Html.Encode(comment.CommentText)</p>
            </li>
        }
    </ul>
}

